<ion-content *ngIf="!started" (swipeleft)="swipedLeft()">
    <!--<ion-row>-->
    <!--<ion-col>-->
    <!--<ion-toolbar>-->
    <!--<ion-segment mode="ios" (ionChange)="segmentChanged($event)" [(ngModel)]="learnDirection">-->
    <!--<ion-segment-button value="en_ru" (checked)="true">-->
    <!--EN-RU-->
    <!--</ion-segment-button>-->
    <!--<ion-segment-button value="ru_en">-->
    <!--RU-EN-->
    <!--</ion-segment-button>-->
    <!--</ion-segment>-->
    <!--</ion-toolbar>-->
    <!--</ion-col>-->
    <!--</ion-row>-->

    <ion-row *ngIf="translationsByDays">
        <ion-col size="6" (click)="learnAll()" *ngIf="objectKeys(translationsByDays).length > 1">
            <ion-card style="background-color: #39304a">
                <ion-card-header>
                    <ion-card-title style="color: #B0A990;">Learn All</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    {{translationsTotal.length}} new words
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="6" (click)="learnStarred()" *ngIf="starredNumber > 0">
            <ion-card style="background-color: #39304a">
                <ion-card-header>
                    <ion-card-title style="color: #B0A990;">Learn Starred
                        <ion-icon name="ios-star"></ion-icon>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    {{starredNumber}} starred words
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ng-container *ngFor="let key of objectKeys(translationsByDays)">
            <ion-col size="6" (click)="learn(key)">
                <ion-card style="background-color: #39304a">
                    <ion-card-header>
                        <ion-card-title style="color: #B0A990;">{{datePretty(translationsByDays[key].date)}}
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        {{translationsByDays[key].translations.length}} new words
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ng-container>
    </ion-row>
</ion-content>

<ng-container *ngIf="started">
    <div class="learning-container" (click)="tapped()" (swipeleft)="back()"
         (swipeup)="sweptVertically($event)" (swipedown)="sweptVertically($event)">
        <div class="progress-bar" [ngStyle]="{'width': progressBarWidth}"></div>
        <div style="margin-top: 20%; padding: 20px; text-align: center; height: 30%">
            <h1>{{learnDirection == 'en_ru' ? translation.original : translation.translation}}</h1>
            <h4 *ngIf="unveiled">{{learnDirection == 'ru_en' ? translation.original : translation.translation}}</h4>
        </div>
        <div style="margin-top: 20%; padding: 20px; text-align: center">
            {{timestampPretty(translation.added)}}<br>
            {{currentIndex + 1}} / {{translations.length}}
        </div>
        <fi-star [visible]="translation.hasOwnProperty(['starred']) && translation['starred']"></fi-star>
    </div>
</ng-container>