.swiper-container {
  width: 100%;
  height: 300px;
}
.menu {
  margin: 15px;
  height: 40px;
}
.learning-card {
  //background: var(--card-background);
}
.learning-button {
  border: 3px solid var(--heading-background);
  border-radius: 15px;
  padding: 10px;
  margin: 5px;
  max-width: 200px;
}
.learning-card-title {
  color: var(--card-color);
}
.learning-card-subtitle {
  color: var(--card-color-secondary);
}

.star {
  position: fixed;
  right: 20px;
  top: 20px;
  margin: 0 auto;
  width: 40px;
  height: 40px;
  color: var(--default-color);
}

.learning-container {
  color: var(--default-color);
  height: 100%;
  -webkit-transition: background-color 50ms linear;
  -ms-transition: background-color 50ms linear;
  transition: background-color 50ms linear;
}

.progress-bar {
  background-color: black;
  height: 4px;
  width: 0;
  transition: width 200ms ease;
}

.learning-state {
  margin-top: 20%;
  padding: 20px;
  text-align: center
}

.play {
  margin-top: 10px;
  padding: 20px;
  text-align: center;
}

@keyframes fadeIn {
  from { opacity: 0; top: -20px}
  to { opacity: 1; top: 0}
}

.hidden-word {
  display: block;
  position: absolute;
  width: 100%;
  text-align: center;
  -webkit-animation: fadeIn 0.05s;
  animation: fadeIn 0.05s;
}

.no-words {
  padding: 200px 10px 0 10px;
  text-align: center;
}

.play-icon {
  width: 40px;
  height: 40px;
}
