<ion-content *ngIf="!started">
    <div (swipeleft)="swipedLeft()" style="height: 100%" data-mc-options='{"touchAction": "pan-y"}'>
        <ng-container *ngIf="objectKeys(translationsByDays).length > 0">
            <div class="date-div">
                <h3 class="date-header">Settings</h3>
            </div>
            <ion-button (click)="reverseOrder()" expand="block" class="menu settings-button">
                {{learnDirection == 'ru_en' ? "Translation → original" : "Original → translation"}}
            </ion-button>
            <ion-button (click)="switchColouredBackground()" expand="block" class="menu settings-button">
                Coloured background: {{colouredBackground ? "yes" : "no"}}
            </ion-button>

            <div class="date-div">
                <h3 class="date-header">Learn mode</h3>
            </div>
            <ion-button (click)="learnAll()" expand="block" class="menu settings-button">
                Random order
            </ion-button>
            <ion-button (click)="learnDayByDay()" expand="block" class="menu settings-button"
                        *ngIf="objectKeys(translationsByDays).length > 1">
                Day by day
            </ion-button>
            <!--        <ion-button expand="block" class="menu settings-button">-->
            <!--            Least repeated-->
            <!--        </ion-button>-->
            <ion-button (click)="learnStarred()" *ngIf="starredNumber > 0" expand="block" class="menu settings-button">
                Starred
            </ion-button>


            <div class="date-div">
                <h3 class="date-header">Learn by date</h3>
            </div>
            <ion-list class="words-list">
                <div (click)="learn(key)" class="list-item"
                     *ngFor="let key of objectKeys(translationsByDays); let i=index"
                     [ngClass]="{'list-item-last': i === objectKeys(translationsByDays).length - 1}">
                    <div class="list-item-left">
                        {{datePretty(translationsByDays[key].date)}}
                    </div>
                    <div class="list-item-right">
                        {{translationsByDays[key].translations.length}}
                    </div>
                </div>
            </ion-list>
        </ng-container>
        <div *ngIf="objectKeys(translationsByDays).length === 0" class="no-words">
            Add some words to learn first
        </div>
    </div>
</ion-content>

<ng-container *ngIf="started">
    <div class="learning-container" (click)="tapped()" (swipeleft)="back()"
         (swipeup)="sweptVertically($event)" (swipedown)="sweptVertically($event)"
         [ngStyle]="{'backgroundColor': getColor(translation)}"
    >
        <div style="margin-top: 20%; padding: 20px; text-align: center; height: 30%">
            <h1>{{learnDirection == 'en_ru' ? translation.original : translation.translation}}</h1>
            <div style="position: relative">
                <div *ngIf="unveiled" class="hidden-word">
                    <h4>{{learnDirection == 'ru_en' ? translation.original : translation.translation}}</h4>
                </div>
            </div>
        </div>
        <div class="learning-state">
            {{timestampPretty(translation.added)}}<br>
            {{currentIndex + 1}} / {{translations.length}}
        </div>
        <fi-star [visible]="translation.hasOwnProperty(['starred']) && translation['starred']"></fi-star>
    </div>
</ng-container>
