<ion-content *ngIf="!started" (swipeleft)="swipedLeft()">
    <ion-row *ngIf="translationsByDays">
        <ion-col size="6" (click)="learnAll()" *ngIf="objectKeys(translationsByDays).length > 1">
            <ion-card class="learning-card">
                <ion-card-header>
                    <ion-card-title class="learning-card-title">Learn All</ion-card-title>
                </ion-card-header>
                <ion-card-content class="learning-card-subtitle">
                    {{translationsTotal.length}} new words
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ion-col size="6" (click)="learnStarred()" *ngIf="starredNumber > 0">
            <ion-card class="learning-card">
                <ion-card-header>
                    <ion-card-title class="learning-card-title">Learn Starred
                        <ion-icon name="ios-star"></ion-icon>
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content class="learning-card-subtitle">
                    {{starredNumber}} starred words
                </ion-card-content>
            </ion-card>
        </ion-col>
        <ng-container *ngFor="let key of objectKeys(translationsByDays)">
            <ion-col size="6" (click)="learn(key)">
                <ion-card class="learning-card">
                    <ion-card-header>
                        <ion-card-title class="learning-card-title">{{datePretty(translationsByDays[key].date)}}
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content class="learning-card-subtitle">
                        {{translationsByDays[key].translations.length}} new words
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ng-container>
    </ion-row>
</ion-content>

<ng-container *ngIf="started">
    <div class="learning-container" (click)="tapped()" (swipeleft)="back()"
         (swipeup)="sweptVertically($event)" (swipedown)="sweptVertically($event)">
        <div style="margin-top: 20%; padding: 20px; text-align: center; height: 30%">
            <h1>{{learnDirection == 'en_ru' ? translation.original : translation.translation}}</h1>
            <h4 *ngIf="unveiled">{{learnDirection == 'ru_en' ? translation.original : translation.translation}}</h4>
        </div>
        <div style="margin-top: 20%; padding: 20px; text-align: center">
            {{timestampPretty(translation.added)}}<br>
            {{currentIndex + 1}} / {{translations.length}}
        </div>
        <fi-star [visible]="translation.hasOwnProperty(['starred']) && translation['starred']"></fi-star>
    </div>
</ng-container>