
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.inner-scroll {
  padding: 0;
  margin: 0;
}

.no-padding {
  padding: 0px !important;
}

.list-translation {
  width: 50%;
  align-self: center;
  text-align: right;
}

.list-original {
  width: 50%;
  align-self: center;
}

.list-item {
  font-family: "Segoe UI";
  display: flex;
  width: 100%;
  padding-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.list-item-last {
  border-bottom: none;
}

.words-list {
  padding: 0 0 3px 0;
}

.tools-panel {
  //height: 70px;
  display: flex;
  //background-color: #181823;
  background-color: #80B7FF;
  color: #608bc0;
  justify-content: space-around;
}

ion-label {
  margin: 0;
}

.item {
  min-height: 1rem; /* <- this can be whatever you need */
}

.nav-item {
  //color: #B0A990;
  background-color: #80B7FF;
  color: #000;
}

.nav-panel {
  justify-content: space-around;
  display: flex;
  width: 100%;
  max-width: 700px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.main-column-wrapper {
  width: 100%;
  //border: 1px solid rebeccapurple;
  display: flex;
  //max-width: 700px;
  justify-content: space-around;
}

.main-column {
  width: 100%;
  //border: 1px solid red;
  //display: flex;
  max-width: 700px;
  //justify-content: space-around;
}

.search {
  color: #B0A990;
  max-width: 700px;
  //padding-top: 25px;
}

.search-panel {
  background-color: #181823;
  justify-content: space-around;
  display: flex;
}

.iconActive {
  color: #E9E7E0;
}


.hello-div {
  width: 100%;
  text-align: center;
  background-color: #5c8bc7;
  padding-top: 85px;
  padding-bottom: 2px;
}

.nav-top {
  background-color: #80B7FF;
  color: #608bc0;
}

.nav-top-selected {
  background-color: #80B7FF;
  color: #000;
}

.date-div {
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 0;
  background-color: #E8E8E8;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Segoe UI";
  display: flex;
}

.date-header {
  font-size: small;
  margin-bottom: 0;
  color: #476489;
  font-weight: bold;
}

.date-edges {
  margin-top: 19px;
  width: 50px;
  //background-color: #F7931E;
  background-color: #80B7FF;
  height: 10px;
  color: #476489;

}
