
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.inner-scroll {
  padding: 0;
  margin: 0;
}

.no-padding {
  padding: 0px !important;
}

.hello-div {
  width: 100%;
  text-align: left;
  /* background: var(--header-background); */
  background-size: var(--header-background-size);
  padding: 5px 5px;
  color: var(--header-color);
  font-size: 16pt;
  display: flex;
}

.hello-div-avatar {
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--header-background);
  margin-right: 10px;
}

.hello-div-text {
}

.list-item {
  display: flex;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 2px;
  //padding-left: 10px;
  //padding-right: 10px;
  border-bottom: var(--list-item-separator);
  color: var(--list-item-color);
  background: var(--list-item-background);
}

.list-item-last {
  border-bottom: none;
}

.words-list {
  padding: 0 10px 10px 10px;
}

.tools-panel {
  //height: 70px;
  display: flex;
  background: var(--navbar-background);
  justify-content: space-around;
}

.nav-top {
  background: var(--navbar-background);
  color: var(--navbar-icon-inactive);
}

.nav-top-selected {
  background: var(--navbar-background);
  color: var(--navbar-icon-active);
}

ion-label {
  margin: 0;
}

.item {
  min-height: 1rem; /* <- this can be whatever you need */
}

.nav-item {
  color: var(--navbar-icon-active);
}

.nav-panel {
  justify-content: space-around;
  display: flex;
  width: 100%;
  max-width: 700px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.main-column-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: var(--default-background);
}

.main-column {
  width: 100%;
  max-width: 700px;
}

.search {
  color: var(--default-color);
  background: var(--default-background);
  --background: var(--default-background);
  --icon-color: var(--default-color);
  --clear-button-color: var(--default-color);
  max-width: 700px;
}

.search-panel {
  --background: var(--button-background);
  justify-content: space-around;
  display: flex;
}

.iconActive {
  color: var(--navbar-icon-shine);
}
