<ion-content *ngIf="storage" style="display: flex; justify-content: center">
    <div (swipeleft)="swiped(1)" (swiperight)="swiped(-1)" style="height: 100%"
         data-mc-options='{"touchAction": "pan-y"}'>
        <div class="main-column-wrapper">
            <div class="main-column">
                <div class="hello-div" *ngIf="search === ''">
                    <div class="hello-div-avatar"></div>
                    <div class="hello-div-text">henlo, ivanlukomskiy</div>
                </div>

                <div class="list-mode-panel" *ngIf="search === ''">
                    <div class="list-mode-option" *ngFor="let viewMode of viewModes"
                         [ngClass]="viewMode === selectedMode ? 'list-mode-selected' : ''"
                         (click)="selectedMode = viewMode; updateList(null)">
                        <ion-label>{{viewMode.label}}</ion-label>
                    </div>
                </div>

                <div [ngStyle]="{height: selectedMode.showDates && translationsFiltered
                                && translationsFiltered.length > 0 ? '0' : '20px'}"></div>
                <div>
                    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
                        <ion-refresher-content></ion-refresher-content>
                    </ion-refresher>
                    <ng-container *ngFor="let datestring of objectKeys(translationsByDates); let dateIndex=index">
                        <div class="date-div" *ngIf="selectedMode.showDates">
                            <h3 class="date-header">{{datePretty(translationsByDates[datestring].date)}}</h3>
                        </div>
                        <ion-list class="words-list">
                            <ng-container *ngFor="let tr of translationsByDates[datestring].translations; let i=index">
                                <div (click)="editTranslation(tr)" class="list-item"
                                     *ngIf="tr.translation !== ''"
                                     [ngClass]="{'list-item-last': i === translationsByDates[datestring].translations.length - 1}">
                                    <div class="list-item-left">{{tr.original}}</div>
                                    <div class="list-item-right">{{tr.translation}}</div>
                                </div>
                                <div (click)="editTranslation(tr)" class="list-item"
                                     *ngIf="tr.translation === ''"
                                     [ngClass]="{'list-item-last': i === translationsByDates[datestring].translations.length - 1
                                     && dateIndex === translationByDaysCount() - 1}">
                                    <div style="width: 100%; text-align: center">{{tr.original}}</div>
                                </div>
                            </ng-container>
                        </ion-list>
                    </ng-container>
                </div>
            </div>
        </div>
        <div style="display:flex; width: 100%; height: 30%;"
             *ngIf="!translationsFiltered || translationsFiltered.length === 0">
            <ion-label class="ion-text-center" style="margin: auto">
                <h2>Nothing to show</h2>
            </ion-label>
        </div>
    </div>
</ion-content>
<div class="search-panel">
    <ion-searchbar [ngModel]="search" (ionChange)="searchChanged($event)" *ngIf="searchOn" class="search"
                   style="--background-color: lightblue"
                   #searchInput name="searchInput" (keydown)="searchKeyPress($event)"
                   (keypress)="$event.stopPropagation()"></ion-searchbar>
</div>
<div class="tools-panel">
    <div class="nav-panel">
        <ion-tab-button class="nav-item" (click)="searchClicked()">
            <ion-icon name="search-outline" [ngClass]="{'iconActive': searchOn}"></ion-icon>
            <ion-label [ngClass]="{'iconActive': searchOn}">Search</ion-label>
        </ion-tab-button>
        <ion-tab-button class="nav-item" (click)="addTranslation()">
            <ion-icon name="add-circle-outline"></ion-icon>
            <ion-label>Add</ion-label>
        </ion-tab-button>
        <ion-tab-button class="nav-item" (click)="openLearner()">
            <ion-icon name="refresh-outline"></ion-icon>
            <ion-label>Learn</ion-label>
        </ion-tab-button>
        <ion-tab-button class="nav-item" (click)="openSettings()">
            <ion-icon name="settings"></ion-icon>
            <ion-label>Settings</ion-label>
        </ion-tab-button>
    </div>
</div>
