
.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.inner-scroll {
  padding: 0;
  margin: 0;
}

.no-padding {
  padding: 0px !important;
}

.hello-div {
  width: 100%;
  text-align: center;
  background-color: #4a4130;
  padding-top: 25px;
}

.date-div {
  text-align: center;
  width: 100%;
  font-size: small;
  padding-top: 25px;
  padding-bottom: 3px;
  background-color: #39304a;
}

.date-header {
  margin-bottom: 0;
}

.list-translation {
  width: 50%;
  align-self: center;
  text-align: right;
}

.list-original {
  width: 50%;
  align-self: center;
}

.list-item {
  display: flex;
  width: 100%;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 2px solid #1E1E2C;
}

.list-item-last {
  border-bottom: none;
}

.words-list {
  padding: 0 0 3px 0;
}

.tools-panel {
  //height: 70px;
  display: flex;
  background-color: #181823;
  justify-content: space-around;
}

.nav-top {
  background-color: #181823;
  color: #39304a;
}

.nav-top-selected {
  background-color: #181823;
  color: #B0A990;
}

ion-label {
  margin: 0;
}

.item {
  min-height: 1rem; /* <- this can be whatever you need */
}

.nav-item {
  color: #B0A990;
}

.nav-panel {
  justify-content: space-around;
  display: flex;
  width: 100%;
  max-width: 700px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 2s, opacity 2s linear;
}

.main-column-wrapper {
  width: 100%;
  //border: 1px solid rebeccapurple;
  display: flex;
  //max-width: 700px;
  justify-content: space-around;
}

.main-column {
  width: 100%;
  //border: 1px solid red;
  //display: flex;
  max-width: 700px;
  //justify-content: space-around;
}

.search {
  color: #B0A990;
  max-width: 700px;
  //padding-top: 25px;
}

.search-panel {
  background-color: #181823;
  justify-content: space-around;
  display: flex;
}

.iconActive {
  color: #E9E7E0;
}