<ion-content id="myElement">
    <ion-card
            style="padding-top: 10px; padding-bottom: 10px; margin-top: 20%;"
            [style.marginLeft.px]="shift + 10"
            [style.margin-right.px]="10 -shift"
    >
        <ion-input placeholder="Original" [(ngModel)]="original" #inputOriginal></ion-input>
        <ion-input placeholder="Translation" [(ngModel)]="translation"></ion-input>
    </ion-card>
    <div style="width: 100%; text-align: center" id="hint" [style.color]="hintColor">{{hintText}}</div>
</ion-content>
