<div id="content1" (swipeleft)="cancel()" (swiperight)="save()">
    <div style="float: right; margin: 20px">
    {{translationsNumber}}
    </div>
    <div class="text-block" id="content">
        <form (ngSubmit)="save()">
            <ion-input placeholder="Original" [(ngModel)]="translation.original" #inputOriginal  name="original"></ion-input>
            <ion-input placeholder="Translation" [(ngModel)]="translation.translation"  name="translation"></ion-input>
        </form>
    </div>
    <div style="width: 100%; text-align: center" id="hint" [style.color]="hintColor">
        {{hintText}}
    </div>
</div>