<div id="content1" style="background-color: #7e57ff" (swipeleft)="cancel()" (swiperight)="save()">
    <div class="text-block" id="content">
        <form (ngSubmit)="save()">
            <ion-input placeholder="Original" [(ngModel)]="translation.original" #inputOriginal></ion-input>
            <ion-input placeholder="Translation" [(ngModel)]="translation.translation"></ion-input>
        </form>
    </div>
    <div style="width: 100%; text-align: center" id="hint" [style.color]="hintColor">
        {{hintText}}
    </div>
</div>