<div id="content1" (swipeleft)="cancel($event)" (swiperight)="sweptRight($event)" (swipeup)="sweptVertically($event)"
     (swipedown)="sweptVertically($event)">
    <div style="float: right; margin: 20px; color: #B0A990;" *ngIf="!edit && translationsNumber > 0 && !draftMode">
        {{translationsNumber}}
    </div>
    <div class="text-block" id="content">
        <form (ngSubmit)="save()" style="color: #B0A990;">
            <ion-textarea autosize [(ngModel)]="translation.original" #inputOriginal
                          placeholder="{{draftMode ? 'Draft' : 'Original'}}"
                          [ngStyle]="{'opacity': textOpacity, 'margin-top': draftMode ? '35px' : '0'}"
                          class="t-input" maxlength="200"
                          name="original"
                          (keydown)="onKeydown($event)">
            </ion-textarea>
            <ion-textarea autosize [(ngModel)]="translation.translation" placeholder="Translation" name="translation"
                          [ngStyle]="{'opacity': textOpacity, 'display': draftMode ? 'none' : null}"
                          class="t-input" #inputTranslation maxlength="200"
                          (keydown)="onKeydown($event)">
            </ion-textarea>
        </form>
    </div>
    <div class="trash-container" (pan)="handlePan($event)"
         [ngStyle]="{'left': trashShift + 'px' }" (click)="trashClicked()">
        <ion-icon id="trash" name="ios-trash" class="trash-icon"
                  [ngStyle]="{'opacity': trashOpacity,
                  'width': TRASH_ICON_SIZE + 'px',
                  'margin': TRASH_ICON_MARGIN + 'px'}"
                  *ngIf="edit">
        </ion-icon>
    </div>
    <fi-star [visible]="edit && translation.hasOwnProperty(['starred']) && translation['starred']"></fi-star>
    <!--<fi-draft [active]="draftMode" (click)="draftMode = !draftMode"></fi-draft>-->
</div>
