ion-input {
  text-align: center;
  font-size: x-large
}

.text-block {
  padding: 20px;
  margin-top: 20%
}

ion-input {
  --placeholder-color: green;     /* placeholder text color */
  --ion-color-primary: red;
}

#content {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.t-input {
  text-align: center;
  font-size: x-large;
  margin: 0;
  padding: 0;
}

.trash-container {
  position: fixed;
  margin: 0 auto;
  bottom: 0;
}

.trash-icon {
  width: 40px;
  height: 40px;
  margin: 20px;
}