ion-input {
  text-align: center;
  font-size: x-large
}

.text-block {
  padding: 20px;
  margin-top: 20%
}

#content {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.t-input {
  text-align: center;
  font-size: x-large;
  margin: 0;
  padding: 0;
  color: var(--default-color);
}

.trash-container {
  position: fixed;
  margin: 0 auto;
  bottom: 0;
}

.trash-icon {
  width: 40px;
  height: 40px;
  margin: 20px;
}

.words-number-indicator {
  float: right;
  margin: 20px;
  color: var(--default-color-secondary);
}