/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  box-sizing: border-box;
}

.searchbar-search-icon {
  color: #B0A990 !important;
  display: none !important;
}

.list-item-right {
  width: 50%;
  align-self: center;
  text-align: right;
}

.list-item-left {
  width: 50%;
  align-self: center;
}

.settings-button {
  color: var(--button-color);
  --background: var(--button-background);
  --background-activated: var(--button-background-click);
  margin: 15px;
  height: 40px;
}

.date-div {
  text-align: center;
  width: 100%;
  font-size: small;
  padding-top: 25px;
  padding-bottom: 3px;
  //background: var(--heading-background);
  color: var(--heading-color);
}

.date-header {
  margin-bottom: 0;
  font-size: 14px;
  font-weight: bolder;
  text-transform: uppercase;
}

.list-item-last {
  border-bottom: none !important;
}

.list-item {
  display: flex;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 2px;
  border-bottom: var(--list-item-separator);
  color: var(--list-item-color);
  background: var(--list-item-background);
}

.words-list {
  padding: 0 10px 10px 10px;
}
