@font-face {
  font-family: "Fira Code";
  src: url("../public/fonts/FiraCode-VF.woff2") format("woff2-variations");
  font-weight: 300 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../public/fonts/FiraCode-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../public/fonts/FiraCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../public/fonts/FiraCode-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../public/fonts/FiraCode-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Code";
  src: url("../public/fonts/FiraCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --henlo-color-original: var(--mantine-color-yellow-7);
  --henlo-color-original-dim: var(--mantine-color-yellow-9);
  --henlo-shadow-original: 0 0 1em var(--mantine-color-yellow-7);
  --henlo-color-translation: var(--mantine-color-teal-7);
  --henlo-color-translation-dim: var(--mantine-color-teal-9);
  --henlo-shadow-translation: 0 0 1em var(--mantine-color-teal-7);
}

.word-original {
  text-shadow: var(--henlo-shadow-original);
  color: var(--henlo-color-original);
  font-size: 1.28em;
}
.word-translation {
    text-shadow: var(--henlo-shadow-translation);
    color: var(--henlo-color-translation);
}
.word-star-selected {
 text-shadow: 0 0 1em var(--mantine-color-yellow-1);
 color: var(--mantine-color-yellow-1);
  font-size: 1.28em;
}
.highlight {
  text-shadow: var(--henlo-shadow-original);
  color: var(--henlo-color-original);
}
.highlightSecondary {
  text-shadow: var(--henlo-shadow-translation);
  color: var(--henlo-color-translation);
}
.word-star-unselected {
  color: var(--mantine-color-gray-6);
  font-size: 1.28em;
}
.text-secondary {
    color: var(--mantine-color-gray-6);
}

:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: #f4f4f4;
}

:root[data-mantine-color-scheme="dark"] {
  /* Override for Dark Mode */
  --mantine-color-body: #1e1e1e;
}
