.settings-button {
  color: var(--button-color);
  --background: var(--button-background);
  --background-activated: var(--button-background-click);
  margin-left: 20px;
  margin-top: 20px;
}

.settings-column {
  padding: 20px;
  width: 100%;
}
