<ion-content (swipeleft)="swipedLeft()">
    <div class="settings-column">
    <ion-item>
        <ion-label position="stacked">Backend address</ion-label>
        <ion-input (ionChange)="backendAddressChanged($event)" [(ngModel)]="backendAddress"></ion-input>
    </ion-item>
    <ion-button expand="block" class="menu settings-button" (click)="sync()">Synchronize</ion-button>
    <ion-button expand="block" class="menu settings-button" (click)="export()">Export words as json</ion-button>
    <ion-button expand="block" class="menu settings-button" (click)="clear()">Clear</ion-button>
    <ion-button expand="block" class="menu settings-button" (click)="generate()">Generate</ion-button>
    </div>
</ion-content>
